<div class="block"></div>
<div class="block block-twenty"></div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @filters.each do |filter| %>
      <tr>
        <td><%= filter.name %></td>
        <td><%= filter.address %></td>
        <td><%= filter.status %></td>
        <td><%= link_to filter do %>
          <i class="fa fa-bar-chart-o"></i>
          <% end %>
        </td>
        <td><%= link_to edit_filter_path(filter) do %>
          <i class="fa fa-edit"></i>
          <% end %></td>
        <!--<td><%= link_to filter, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i>
          <% end %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filter', new_filter_path %>
