<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="filtrs.co helps home owners and commercial businesses forget about servicing their heating and cooling unit once and for all.">
  <meta name="author" content="">  <title>filtrs.co</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="shortcut icon" href="#{ asset_path('favicon.ico') }" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <strong><%= link_to "filtrs.co", root_path, class: "navbar-brand"%></strong>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Already a member?", "#" %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<%= yield %>

<div class="container">
	<div class="row">
		<div class="container">
			<div id="filtrs-footer">
				<p class="text-center site-links" style="font-weight:400;">
					<%= link_to "About", about_path %>
					<a href="#">Blog</a>
					<%= link_to "Contact", contact_path %>
					<%= link_to "Privacy", privacy_path %>
					<%= link_to "Terms", terms_path %>
					<%= link_to "Press", press_path %>
				</p>
				<p class="text-center">
					<a href="#">
						<i class="fa fa-twitter text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
					<a href="#">
						<i class="fa fa-facebook text-muted"></i>&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
					<a href="#">
						<i class="fa fa-google-plus text-muted"></i>
					</a>
				</p>
				<p class="text-center">Created by Epicsteme, Inc. &copy; 2014</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
